---
layout: default
title: Home
---


<div id="home">
<h1>Blog Posts</h1>
<ul class="posts">
{% for post in site.posts limit:5 %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h1>Presentations</h1>
<ul class="posts">
<li><a href="http://www.slideshare.net/JuliaKM/nc-tech4-goodpresentation2014up">NTC 2014 - Welcome to the Website Emergency Room: Find and Pinpoint Problems When Everything Falls Apart</a></li>
<li><a href="http://www.nctech4good.org/sessions/welcome-website-emergency-room-find-and-pinpoint-problems-when-everything-falls-apart">NCTech4Good 2014</a></li>
<li><a href="http://cms-workshop.pbworks.com/w/page/14485599/FrontPage">UNC's An Introduction to Content Management Systems workshop</a></li>
</ul>

<!--<h1>Recentish</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>


<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->